.interview_bolck {
  margin-bottom: 20px;
}

.entry-field {
  margin-bottom: 10px;
}

.entry-field:last-child {
  margin-bottom: 0;
}

.mini-input {
  width: 65px;
}

.comment-icon {
  width: 150px;
  height: 30px;
}
